.wrapper-content {
    position: absolute;
    background-color: #fff;
    height: calc(100vh - 70px);
    width: 1112px;
    margin: 70px 0 0 234px;
    overflow-y: scroll;
}

    .wrapper-content h2 {
        text-align: center;
        padding: 30px 0;
    }

.box {
    width: 900px;
    display: grid;
    grid-template-columns: 425px 425px;
    grid-column-gap: 50px;
    margin: 30px auto;
}

.box .left, .box .right {
    border: 3px dashed #e8e8e8;
    padding: 40px 30px;
    text-align: center;
}

    .box .left p, .box .right p {
        margin-top: 20px;
        font-size: 20px;
    }