
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Admin/css/Dashboard/IndexCSS.css" rel="stylesheet" />

<div class="wrapper-content">
    <h2>ADMIN DASHBOARD</h2>
    <img src="~/assets/images/dashboard.jpg" alt="image" />
</div>
