.wrapper-content {
    position: absolute;
    background-color: #fff;
    height: calc(100vh - 70px);
    width: 1112px;
    margin: 70px 0 0 234px;
    overflow-y: scroll;
    padding: 0 20px;
}

    .wrapper-content h2 {
        text-align: center;
        padding: 30px 0;
    }

.box {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    border-bottom: 5px dashed #808080;
    margin: 0 auto;
}

table {
    width: 80%;
    border: 1px solid #000;
    padding: 10px;
}

    table tr td {
        padding: 3px 0;
    }

.product-info__label {
    background-color: #f2f2f2;
    color: #c0392b;
    text-align: left;
    font-size: 18px;
}

.back {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    width: 25%;
    text-align: center;
    background-color: #6147c7;
    margin: 20px auto;
}

    .back:hover {
        cursor: pointer;
        opacity: 0.8;
    }