
@{
    ViewData["Title"] = "CheckOutComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/User/css/Order/CheckOutCSS.css" rel="stylesheet" />
<div class="checkout">
    <img src="~/assets/images/delivery-truck.png" alt="image" />
    <h2>THÀNH CÔNG !</h2>
    <p>Chúng tôi sẽ gọi cho bạn để xác nhận giao dịch.</p>
    <a asp-controller="Home" asp-action="Index">ĐẾN TRANG CHỦ Mobile Shop</a>
</div>

